<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="Server=http://cons-206a/bro/; Domain=dscrm; Username=user; Password=userpass" />-->
    <add name="Xrm" connectionString="Server=http://cons-206a/bro/; Domain=dscrm; Username=user; Password=userpass" />
  </connectionStrings>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Xrm.XRMServiceContext, Xrm" />
    </contexts>
  </microsoft.xrm.client>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>